#list {font-family: chasm; font-weight:bold; font-size:17px}
#list ul {margin:0; padding:0;}
#list li {list-style: none;}

#list a{
 color:red;
 cursor: pointer;
 height:25px;
 line-height: 25px;
 text-indent: 10px;                   
 text-decoration:none;
 width:100%;
}

#list a:hover {
 color:#FDD017;
 text-shadow:0px 0px 5px #FDD017;
 text-decoration:none;
}

#items a:hover{
 color: #FDD017;
 cursor: pointer;
 height:25px;
 line-height: 25px;
 text-indent: 10px;                   
 text-decoration:none;
 width:100%;
}

#list td:hover {text-decoration:none; color:black}

body {background-color:#EDEDED; background-attachment:scroll;}

.top_ads {position:relative; top:-8px; width:100%; margin-left:auto; margin-right:auto;
	text-align:center}
	
.ad_right {position:relative; top:0px; width:100%; margin-left:auto; margin-right:auto}

#section_right_ad {position:relative; width:165px; float:right; background-color:#EDEDED;
	text-align:center; top:30px; height:620px; margin-right:-4px}

#document_head {width:1050px; margin-left:auto; margin-right:auto; background-color:#EDEDED;
	height:1000px}

#document_body {position:absolute; width:1050px; margin-left:auto; margin-right:auto;
	margin-top:-90px}

#section_top {position:relative; width:100%; margin-left:0%; margin-right:0%;
	background-color:#7F7F7F}

#subscribe {position:relative; top:5px; margin-left:90%; margin-right:auto}

#title_main {position:relative; top:0px; text-align:center; width:50%; margin-left:25%; 
	margin-right:25%; font-style:italic}

#horizontal_nav {position:relative; top:10px; width:100%; margin-left:auto; 
	margin-right:auto; background-color:#333333; height:30px}
	
#navbar_left {position:relative; top:20px; z-index:1}

#announcement {position:relative; top:0px; text-align:left}
	
#section_announcement {position:relative; top:0px; float:right; text-align:center;
	background-color:#7F7F7F; width:158px; height:100px; margin-right:-162px;
	margin-top:-82px; border:solid 1px black}
	
#main_content {position:relative; width:675px; top:-82px; background-color:#7F7F7F;
	margin-left:auto; margin-right:auto; height:709px; border:solid 1px black}